<div class="container my-3" >
  <div class="row">
    <strong> <label class="text-default col-lg-2 control-label">Valor 1:</label></strong>
  <input type="number" id="dividendo" name="dividendo" class="form-control col-lg-2">
  


 <strong> <label class="text-default col-lg-6 control-label">Valor 2:</label></strong>
  <input type="number" id="divisor" name="divisor" class="form-control col-lg-2">
  </div>

  <label class="text-default col-lg-2 control-label">Proceso:</label>
  <textarea id="process" name="process" rows="10" cols="40" class="form-control col-lg-3" disabled></textarea>
  <label class="text-default col-lg-2 control-label">Cociente:</label>
  <input type="text" id="result" name="result" class="form-control col-lg-1" disabled><br>
  <button type="button" (click)="division()" class="col-lg- btn btn-primary">Ejecutar</button> 

</div>       
